<!DOCTYPE html>
<html>
<head>
    <title>"Website"</title>
    <meta charset="UTF-8">
</head>
<body>
    <center>
    <h1>ผลลัพธ์</h1>
    <h2>คำว่า {{word}} มีจำนวนทั้งหมด {{searchword}} คำ</h2>
    <h2>Bow of word 5 อันดับแรก</h2><br>
    อันดับที่ 1 {{wc1}}<br>
    อันดับที่ 2 {{wc2}}<br>
    อันดับที่ 3 {{wc3}}<br> 
    อันดับที่ 4 {{wc4}}<br> 
    อันดับที่ 5 {{wc5}}<br>
    <h2>TF-IDF 5 อันดับแรก</h2><br>
    อันดับที่ 1 {{tfidf1}}<br>
    อันดับที่ 2 {{tfidf2}}<br>
    อันดับที่ 3 {{tfidf3}}<br> 
    อันดับที่ 4 {{tfidf4}}<br> 
    อันดับที่ 5 {{tfidf5}}<br>
    </center>
</body>
</html>